body {
    background-color: black;
}

.main-title {
    padding: 1em;
    text-align: center;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    font-stretch: condensed;
    font-size: 4em;
    color: red;
}
  
  .card {
      min-width: 220px;
      padding: 20px 10px;
      margin: 10px 10px;
      font-size: large;
      color:grey;
      border-color:rgb(36, 36, 36);
      border-style: solid;
      border-width: 1px;
      max-width: 220px;
      background-color: black !important;
      transition: 0.3s;
  }

@media (min-width: 770px) {
    .container {
        display: flex;
        align-content: center;
        flex-direction: row;
        columns: 12;
    }
}