<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Métodos en VueJS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CDN de VUE 2 -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <input type="number" v-model="numero1">
            <input type="number" v-model="numero2">
            <hr>
            <p>RESULTADO +: {{suma()}}</p>
            <br>
            <br>
            <p>RESULTADO -: {{resta()}}</p>
            <br>
            <br>
            <p>RESULTADO *: {{multiplicacion()}}</p>
            <br>
            <br>
            <p>RESULTADO /: {{division()}}</p>
        </div>
        <script>
            const app = new Vue({
                el: '#app',
                data: {
                    numero1: 0,
                    numero2: 0,
                },
                //Crear un método mediante "methods"
                methods: {
                    suma:function(){
                        return this.numero1 - (- this.numero2)
                    },
                    resta:function(){
                        return this.numero1 - this.numero2
                    },
                    multiplicacion:function(){
                        return this.numero1 * this.numero2
                    },
                    division:function(){
                        return this.numero1 / this.numero2
                    }
                }
            })
        </script>
    </body>
</html>